@using NomorIdaman.WebApplication.Models
@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold" style="color:seagreen">Selamat Datang di Nomor Idaman</h1>
</div>

<form method="get">
    <div class="form-control text-center align-content-center">
        <label asp-for=@(Model.ShopSelected)>Toko</label>
        <select asp-for=@(Model.ShopSelected) asp-items="@(new SelectList(Model.shops,"Id","Code"))">
            <option>-- Semua Toko --</option>
        </select>
        <label asp-for=@(Model.ProviderSelected)>Operator</label>
        <select asp-for=@(Model.ProviderSelected) asp-items="@(new SelectList(Model.providers,"Id","Name"))">
            <option>-- Semua Operator --</option>
        </select>

        <div class="my-1">
            <button class="btn btn-outline-secondary" type="submit" style="min-width:100px;">
                <i class="fa fa-search" style="color:seagreen"></i> Cari
            </button>
        </div>
    </div>
</form>

<div class="d-flex flex-wrap justify-content-center p-1">
    @{
        int length = Model.simCards.Count();
        for (var i = 0; i < length; i++) {
            <div class="card m-1 p-0" style="max-width:155px;">
                <div class="card-header" style="max-height:30px">
                    <h5 class="card-title" style="font-size: 1rem;">
                        <i class="fa fa-mobile" aria-hidden="true"></i>
                        @(Model.simCards.ElementAt(i).CardNumber)
                    </h5>
                </div>
                <div class="card-body p-1">
                    <p class="card-text" style="font-size: 0.9rem;">
                        <i class="fa fa-tags" aria-hidden="true"></i>
                        @(Model.simCards.ElementAt(i).Price)
                        <br />
                        <i class="fa fa-building-o" aria-hidden="true"></i>
                        @(Model.simCards.ElementAt(i).ShopCode)
                    </p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-outline-info btn-sm">
                        <i class="fa fa-shopping-bag" aria-hidden="true" style="color:seagreen;">
                        </i> Beli
                    </a>
                </div>
            </div>
        }
    }
</div>



@section scripts{
<script>
    $("a #btnSearch").on("click",function(){
        console.log("Toko: "+ $("#ShopSelected").val());
        console.log("Operator: "+ $("#ProviderSelected").val());
    });
</script>
}